.MV{
    margin-top:150px;
   text-align: center;
   width: 100%;
   /* margin-right: 30px; */
   float: right;
   background-color:rgba(255, 255, 255, 0.781) ;
}
.MV .card-title{
  font-family:'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.cardm .card-text,.cardv .card-text{

}

.cardplus{
    margin-bottom: 40px;
    display: inline-block;
    /* background-image: url('https://thumbs.dreamstime.com/b/alcohol-ink-texture-fluid-abstract-background-art-design-131606737.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    margin-left: 200px;
    box-shadow: 4px 4px 8px hsla(323, 100%, 40%, 0.575);
}

.names{
    margin-top: 60px;
    margin-right: 200px;
    width: 100%;
    text-align: center;
    background-color:rgb(255, 255, 255) ;
    border: none;
    border-bottom: hsl(323, 100%, 40%) 2px solid;


}
.names .title{
  font-size: 2rem;
  font-weight: 700;
}

.mayada{
    margin-left: 530px;
}

.body{
    font-size:large;
    color:rgb(70, 66, 71);
    /* background-image: url('https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjB8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80'); */
    background-image: url(https://cdn.hipwallpaper.com/i/56/56/F4fW2H.jpg); 
    /* background-repeat: no-repeat;   */
    
 }
  
 .github , .linkdin {
 margin-left: 50px;
 display: inline-block;
 }

 .cardm , .cardv{
     margin-right: 10px;
     color: black;
     font-family:'Roboto', sans-serif;
     text-align: center;
     background-color: rgba(255, 255, 255, 0.849);
     height: 13rem;
     margin: 2rem;
     border-radius: 2rem;
     box-shadow: 0 0 8px black;
 }


 .animatedBox {
    width: fit-content;
    padding: 20px;
    text-align: center;
    font: 24px sans-serif;
    border-style: solid;
    border-width: 20px;
    border-color: lemonchiffon;
    animation: myAnimation 6s linear 1s 1 forwards;
  }
  
  @keyframes myAnimation {
    100% {
      border-color: yellowgreen orange olive gold;
    }	
  }