/* ----------------- contact-us component css for form ------------------  */
.container{
    margin: 0;
    padding: 0;
  width: 100;

}
.contactus-img{
    opacity: 0.9;
height: 700px;
    width: 1400px;
}
.text-above-img1{
    
    text-shadow: 5px 5px rgba(228, 199, 103, 0.829);
    position: absolute;
    top: 300px;
    left: 485px;
    right: 50px;
    font-weight: bold;
    color: black;
    font-size: 70px;
}
.text-above-img2{
    text-shadow: 5px 5px rgba(228, 199, 103, 0.829);
    position: absolute;
    top: 400px;
    left: 485px;
    right: 50px;
   
    color: black;
    font-size: 30px;
}
  .mb-3{
    text-shadow: 2px 2px rgba(228, 199, 103, 0.548);
    background-color: antiquewhite;
  font-weight:bold;
    margin: 5%;
    width: 50%;
  }
  .form-text{
  margin-left: 10%;
  }
  .form-control{
    border-radius: 5px;
    box-shadow: -4px -4px 8px rgba(190, 190, 190, 0.5); 
  }
  /* .div-in-contactus{
    width: 100%;
    position: relative;
  } */
  .contactus-form-button{
    background-color: rgba(255, 196, 0, 0.829);
    border: rgba(255, 196, 0, 0.829);
    color: black;
    margin-left: 54px;
  }
  